body{
    color: white;
}

.links{
    text-align: center;
}

.alle_links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.goeddoel{
    background-color: rgba(20, 20, 20, .8);
    justify-content: center;
    margin: 60px 60px 20px 60px;
    border-radius: 15px;
}

a{
    color: white;
}

.alle_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.over_ons{
    background-color: rgba(20, 20, 20, .8);
    display: flex;
    justify-content: center;
    margin: 20px 60px 60px 60px;
    border-radius: 15px;
    padding: 35px;
    flex-wrap: wrap;
}
.over_ons2{
    background-color: rgba(20, 20, 20, .8);
    /* display: flex;
    justify-content: center;
    justify-items: center; */
    margin: 20px 60px 60px 60px;
    border-radius: 15px;
    padding: 35px;
    text-align: center;
}

.contact-lijst{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    margin: 15px;
}

h2 {
    padding: 10px;
}