body{
    text-align: center;
}

.video-titel,.form{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: xx-large;
}
.form{
    text-decoration: none;
}

.full-form{
    display: inline-block;
    margin-top: 80px;

}

.video-titel:hover{
    text-decoration: underline;
}

.uploaden:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

input{
    font-size: large;
}


/* Video styles */
video{
    width: 400px;
    height: 350px;
}

.alb{
    display: flex;
    justify-content: space-evenly;
}