body{
    text-align: center;
}

.video-titel,.form{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: xx-large;
}
.form{
    text-decoration: none;
}

.full-form{
    display: inline-block;
    margin-top: 80px;

}

.video-titel:hover{
    text-decoration: underline;
}

.uploaden:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

input{
    font-size: large;
}


/* Video styles */
video{
    width: 400px;
    height: 350px;
}

.alb{
    display: flex;
    justify-content: space-evenly;
}


/* upload sectie style  */
li{
    list-style: none;
}
.full-form{
    width: auto;
}
.Upload-titel{
    text-decoration: none;
    font-size: xx-large;
    color: white;
}
.Upload-titel2{
    text-decoration: none;
    font-size: xx-large;
    color: white;
    margin-top: 30px;
}


.titel {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 0px 12px 10px;
    transition: all 0.6s ease-in-out;
  }
  
.titel:focus {
    width: 80%;
}

.beschrijving {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  

#upload-btn {
    background-color: #00ff0d;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    margin: 30px 2px;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 12px;
    box-shadow: 0 6px rgb(54, 54, 54);
    position: absolute;
    left: 45%;
    right: 50%;
    top: 80%;
}

#upload-btn:hover{
    opacity: 1;
    color: black;
}

#upload-btn:active{
    box-shadow: 0 3px rgb(0, 0, 0);
    transform: translateY(4px);
} 

.form2{
    margin: 20px 0px 0px -20px;
}
.form3{
    margin: 20px 0px 0px -20px;
}

@media screen and (max-width: 412px){
    .full-form{
        width: 205px;
        height: 205px;
        margin-top: 40px;
    }
    .Upload-titel,.Upload-titel2 {
        font-size: x-large;
    }
    .beschrijving {
        width: 150px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        padding: 12px 0px 12px 10px;
        transition: all 0.6s ease-in-out;
      }

      .beschrijving:focus{
        width: 100%;
        height: 180px;
    }

      .titel {
        width: 70px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        padding: 12px 0px 12px 10px;
        transition: all 0.6s ease-in-out;
      }
      .titel:focus {
        width: 70%;
    }

    .form2,.form3{
        font-size: medium;
        
    }

    .full-upload{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1920px){
    .full-form{
        margin-top: 20px;
        
    }

    .full-upload{
        display: flex;
        align-content: space-between;
        justify-content: space-between;
    }
}
    .titel {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        padding: 12px 0px 12px 10px;
        transition: all 0.6s ease-in-out;
      }
      
    .titel:focus {
        width: 40%;
    }
    
    .beschrijving {
        width: 250px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        padding: 12px 0px 12px 10px;
        transition: all 0.6s ease-in-out;
      }


@media screen and (max-width: 1000px){
    .full-form{
        margin-top: 20px;
    }
    .beschrijving:focus{
        width: 42%;
        height: 180px;
    }
    
}

@media screen and (max-width: 1580px){
    .full-form{
        margin-top: 20px;
    }

    .full-upload{
        display: flex;
        flex-direction: column;
    }
    .full-form{
        width: 900px;
    }
}


